#footerNav {
  max-width: 400px;
  min-width: 250px;
  align-self: center;
  width: 100%;
  margin-bottom: 20px;
  @include desktop {
    max-width: 500px;
  }
  & > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--body-font);
    list-style-type: none;
    font-weight: 500;
    padding: 0 20px;
    margin: 0;

    li.code {
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 1;
      & > span {
        &:before,
        &:after {
          text-transform: initial;
        }
        &:before {
          left: -10px;
          top: -15px;
          content: "<a>";
        }
        &:after {
          content: "</a>";
          left: -10px;
          bottom: -15px;
        }
        @include desktop {
          .contact-color:hover {
            border-bottom: 2px solid var(--contact-color);
            transition: border .25s ease-in-out;
          }
          .skills-color:hover {
            border-bottom: 2px solid var(--skills-color);
            transition: border .25s ease-in-out;
          }
          .about-color:hover {
            border-bottom: 2px solid var(--about-color);
            transition: border .25s ease-in-out;
          }
        }
      }
    }
  }
}
