@import "./variables.scss";

@font-face {
    font-family: "Caveat";
    font-weight: normal;
    src: local("Caveat Regular"),
         local("Caveat-Regular"),
         url("fonts/caveat-regular-webfont.woff2");
  }

  @font-face {
      font-family: "Roboto Slab";
      font-weight: bold;
      src: local("Roboto Slab"),
      local("Roboto-Slab"),
      url("fonts/RobotoSlab-Bold.ttf");
  }
#mainContent {
    padding: 0 25px;
}


body {
    background-color: var(--body-background);
    margin: 0;
    line-height: 150%;
}

a {
    text-decoration: none;
    color: currentColor;
    
}
.code span {
    position: relative;
}
.code span:before, .code span:after {
    content: "";
    color: var(--code-color);
    position: absolute;
    font-family: "Caveat", "Lucida Handwriting", cursive;
}

.bold {
    font-weight: bold;
}

.contact-color {
    color: var(--contact-color);
}

.about-color {
    color: var(--about-color);
}





