@import "./variables.scss";
@import "./fonts.scss";
@import "./defaults.scss";

#mainContent {
  padding: 0 25px;
  margin-top: 4.3rem;
  flex-grow: 1;
  background-repeat: no-repeat;
  position: relative;
}

#layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.code > .codewords {
  position: relative;
}
.code .codewords:before,
.code .codewords:after {
  content: "";
  color: var(--code-color);
  position: absolute;
  font-family: "Caveat", "Lucida Handwriting", cursive;
  font-size: 14px;
}

.title {
  color: var(--pageTheme);
  font-size: 3.42rem;
  line-height: 1.1;
  margin: 0 0 2.4rem 0;
  position: relative;
  & span.codewords {
    &:before {
      content: "<h1>";
      font-size: 20px;
      left: -15px;
      top: -10px;
    }
    &:after {
      content: "</h1>";
      font-size: 20px;
      bottom: 10px;
    }
  }
}
.code {
  a.box-button.codewords {
    border: 2px solid var(--pageTheme);
    color: var(--pageTheme);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.42rem;
    width: 14.3rem;
    height: 3.72rem;
    letter-spacing: 1px;
    position: relative;

      &:before {
        content: "<button>";
        font-size: 20px;
        left: -20px;
        top: -2rem;
      }
      &:after {
        content: "</button>";
        font-size: 20px;
        left: -20px;
        bottom: -2rem;
      }
  }
}


.punctuation {
  font-family: "Roboto", "Times New Roman", serif;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.contact-color {
  color: var(--contact-color);
}

.about-color {
  color: var(--about-color);
}

.skills-color {
  color: var(--skills-color);
}
